/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #portfolio .box-work {
        flex-basis: 48%;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    #portfolio .box-work {
        flex-basis: 100%;
    }
    .big-title{
        font-size: 1.5rem;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}